<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:replace="~{layout :: header}"></div>
<h1 class="text-center">Danh sách khách hàng</h1>
<center>
    <a  class="btn btn-primary" href="/customer/create">Thêm mới</a>
</center>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex" action="/customer" method="get">
                <input class="form-control me-2" type="search" name="name" placeholder="tìm theo họ tên" aria-label="Search">
            <input class="form-control me-2" type="search" name="email" placeholder="tìm theo email" aria-label="Search">
            <input class="form-control me-2" type="search" name="customerType" placeholder="tìm theo loại khách hàng" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>

        </form>
        <a  class="btn btn-primary" href="/customer" style="height: 45px;width: 250px; margin-left: 10px">Tất cả danh sách</a>
    </div>
</nav>
<marquee><p th:text="${mess}"></p></marquee>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">STT</th>
        <th scope="col"> Họ tên</th>
        <th scope="col"> Ngày sinh</th>
        <th scope="col"> Giới tính</th>
        <th scope="col"> Mã thẻ</th>
        <th scope="col"> Số điện thoại</th>
        <th scope="col"> Email</th>
        <th scope="col"> Địa chỉ</th>
        <th scope="col"> Loại khách hàng</th>
        <th scope="col">Chỉnh sửa</th>
        <th scope="col">Xóa</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="customer, status : ${customerList}">
        <td th:text="${status.count}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.dateOfBirth}"></td>
        <td th:text="${customer.gender}"></td>

        <td th:text="${customer.idCard}"></td>
        <td th:text="${customer.phoneNumber}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.address}"></td>
        <td th:text="${customer.customerType.name}"></td>
        <td>
            <a class="btn btn-primary" th:href="@{/customer/edit/__${customer.id}__}">Sửa</a>
        </td>
        <td>
            <button  th:attr="onclick=|infoDelete('${customer.id}','${customer.name}')|"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Xóa
            </button>
        </td>
    </tr>
    </tbody>
</table>


<a th:href="@{/customer(page=${customerList.number - 1})}" th:if="${customerList.hasPrevious()}"
   class="btn btn-success">Previous</a>
<span th:text="${customerList.number+1}+'/'+${customerList.totalPages}"></span>
<a th:href="@{/customer(page=${customerList.number + 1})}" th:if="${customerList.hasNext()}"
   class="btn btn-success">Next</a>




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/customer/delete" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark">
                    <input type="text" hidden name="action" value="delete">
                    <input type="text" hidden name="id" id="deleteId">
                    <h4> bạn có muốn xóa khách hàng có tên:</h4><br>
                    <span id="deleteName" class="fw-bold"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                    <button type="submit" class="btn btn-primary">Có</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function infoDelete(id,name) {
        console.log(id)
        document.getElementById("deleteId").value=id;
        document.getElementById("deleteName").innerText=name;
    }

</script>
<div th:replace="~{layout :: footer}"></div>
</body>
</html>